{% extends 'products/base.html' %}
{% block content %}

<h1>Отзывы клиентов</h1>
<h2 class="count">Отзывы: {{reviews.count}}</h2>
{% for review in reviews %}
    <div class="element">
        <h2 class="top"><a href="">{{ review.title }}</a></h2>
        <div class="blog_text">
            <h5>{{ review.created|date:'d.m.Y' }}</h5>
            <p>{{review.memo }}</p>
        </div>
    </div>
{% endfor %}

<form method="post" class="bg">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="center">
        <button class="btn">Оставить отзыв</button>
    </div>
</form><br/>

{% endblock%}