<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nike-sneakers</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'products/logo.png' %}">
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
</head>
<body>
    <header>
            <div class="logo"><a href="{% url 'index' %}"><img src="{% static 'products/logo.png' %}" alt="" /></a></div>

            <ul class="menu">
                <ul class="menu2">
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'main' %}">О фирме</a></li>
                <li><a href="{% url 'reviews' %}" >Отзывы</a></li>
                </ul>
                {% if user.is_authenticated %}
                <li class="logoutus">
                    <img class="logo2" src="{% static 'products/logo2.png' %}" alt="" />
                    <li class="username"> {{ user.username }}</li>

                    <a href="{% url 'purchased' %}" class="logo3"><img class="logoBask" src="{% static 'products/basket.png' %}" alt="" /></a>

                        <form action="{% url 'logoutuser' %}" method="post">
                            {% csrf_token %}
                            <button class="top2">Выйти</button>
                        </form>

                </li>
                {% else %}

                    <li class="reg"><a href="{% url 'signupuser' %}">Зарегестрироваться</a></li>
                    <li><a href="{% url 'loginuser' %}">Войти</a></li>
                {% endif %}
            </ul>


    </header>
    <div class="content">
        <div class="wrap">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <section>
        <div class="footer1">2024 © NIKE AIR<br />Москва | Санкт-Петербург</div>

       {% if is_index_page %}
    <div><a href="{% url 'chat_room' room_name=room_name %}">support chat</a></div>
{% endif %}

        <div class="footer2">Nike Original</div>

    </section>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>