{% extends 'products/base.html' %}
{% load static %}
{% block content %}

<h1>{{ product.title }}</h1>
<div class="buyfon">
    <img class="buyimg" src="{{ product.image.url }}" />
        <div class="buysec">
            <div>{{ product.description }}</div></br>
            <div>{{ product.price }} р.</div></br>
            <form action="{% url 'deleteprod' product.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Купить</button>
            </form>
        </div>


</div>



{% endblock%}