{% extends 'products/base.html' %}
{% load static %}
{% block content %}


<h1>Кроссовки NIKE</h1>

<div class="main-div">
    По данным Forbes, Nike – наиболее дорогая фирма в мире,
    производящая спортивную обувь. Штаб-квартира Найк расположена
    в штате Орегон, в США. Товары изготавливаются за пределами страны,
    в основном в азиатском регионе. Фирма производит одежду для спорта,
    и конечно, разнообразные кроссовки Nike.

    <h2>История кроссовок</h2>

    Название "Nike" родилось в 1978 году, но сама фирма появилась раньше -
    в 1964. Что касается названия, то оно отсылает к древнегреческой богине
    победы Нике. И правильно по-английски читать именно «Ники», но не «Найк».
    Впрочем, проблемы с транскрипцией есть не только у русскоговорящих –
    в самой Америке произношение «Найк» также встречается часто, хоть оно
    и не верно.<br/><br/>

    Интересно, что по официальным данным, в 2018 году фирма Nike потратила миллиард долларов,
    примерно одну треть от общего дохода, на рекламу и маркетинговые контракты.<br/><br/>

    Основали компанию НАЙК два человека – студент Орегонского Университета Фил Найт,
    хобби которого был бег. А также его студенческий тренер Билл Бауэрман.
    Оба прекрасно знали, какая спортивная обувь нужна для удобных
    тренировок и безоговорочных побед. Первый заказ был на 300 штук
    кроссовок из Японии.

    <h2>Купить кроссовки Nike в Москве</h2>
    Вначале оригинальные кроссовки Nike продавали с машин,
    затем открылся первый магазин. (В 1966 г). Через некоторое
    время основатели стали не просто заказывать спортивные кроссовки,
    но и самостоятельно разрабатывать их дизайн. Например, была разработана модель,
    с узором на подошве в виде вафли. Основатели фирмы постоянно
    искали способы улучшить свою продукцию. В том числе придать
    кроссовкам большую амортизацию, или облегчить их вес. Через
    некоторое время компания вышла на рынок Канады, и
    начала постепенно свое победоносное движение по всему миру.
    Сегодня каждый может купить кроссовки Найк в Москве,
    в СПб или заказать доставку спортивной обуви по России.

    <h2>Кроссовки Найк оригинал</h2>
    <uL>
        <li>Уникальный дизайн. Эта обувь по-настоящему красива. Она доставляет эстетическое удовольствие. На нее приятно смотреть, а уж как приятно носить! Окружающие оценят Ваш выбор и моментально поймут, что Вы человек стильный, который заботиться о своем образе.</li>
        <li>Удобство. Колодка кроссовок исключительно хорошо садится на ногу, не жмет и не давит даже на «трудной» ноге.</li>
        <li>Безопасность. Кроссовки обладают прекрасными амортизационными свойствами, что помогает сохранить ваши ноги и суставы.</li>
        <li>Выбор. Каждый может найти пару по своему вкусу. От нежных девичьих розовых, до строгих черных мужских. Не говоря уже о классических белых.</li>

    </uL>
    Конечно, первое, что приходит в голову, когда мы говорим о том, с чем можно носить кроссовки Nike мужские, это спортивный костюм. Кроссовки Nike Air Max созданы для занятия спортом. Кроссовки Найк Аир Макс станут прекрасным дополнением к вашей экипировке. И вы сможете проводить тренировки не только безопасно и эффективно, но и стильно. Но на данный момент такой однобокий подход, как кроссовки исключительно для спорта, уже давно устарел. Сегодня кроссовки надевают и в пир, и в мир, и в добрые люди.


</div>



{% endblock%}