{% extends 'products/base.html' %}
{% block content %}

<h1>Ваша корзина</h1>
<h2 class="count">Заказы: {{purchaseds.count}}</h2>

{% if purchaseds.count > 0 %}
{% for purchased in purchaseds %}
<div class="element">

        <div class="blog_text">
            <h2 class="top">{{ purchased.title }}</h2>
            <img class="imgbask" src="{{ purchased.image.url }}" alt="{{ purchased.title }}">
            <h5>{{ purchased.description }}</h5>
            <p>{{ purchased.price }} р.</p>
            <form action="{% url 'delete_purchased' purchased.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btnbuy">Отменить заказ</button>
            </form>
        </div>

    </div>
{% endfor %}
{% else %}
<div class="no_elem">
    <p>У вас пока нет заказов 😔.</p>
</div>
{% endif %}



{% endblock%}