{% extends 'skills/base.html' %}
{% load static %}
{% block content %}






<div class="slider">
      <!-- list Items -->
      <div class="list">
          {% for project in projects %}
        <div class="item active">
          <img src="{{ project.image.url }}" />
          <div class="content">
            <p>Sneakers</p>
            <h2>{{ project.title }}</h2>
            <p>
              {{ project.description }}
            </p>
          </div>
        </div>
          {% endfor %}
      </div>
      <!-- button arrows -->
      <div class="arrows">
        <button id="prev"><</button>
        <button id="next">></button>
      </div>
      <!-- thumbnail -->
      <div class="thumbnail">
          {% for project in projects %}
        <div class="item active">
          <img src="{{ project.image.url }}" />
          <div class="content">{{ project.title }}</div>
        </div>
          {% endfor %}
      </div>


</div>

{% endblock %}